<% content_for :meta_title, "Agence marketing web Aix en provence – SEO – site internet" %>
<% content_for :meta_description, "Créez / Optimiser votre site internet, son référencement | Dataweb Univers : agence de marketing web, SEO / SEA et développement à aix en provence – Théo Dumez" %>
<% content_for :meta_robots, "noindex" %>

<%= render "shared/navbar" %>

<div class="articles-index">
	<h1>Editing Blog</h1>

	<%= render 'form', blog: @blog %>

	<%= link_to 'Show', @blog %> |
	<%= link_to 'Back', blogs_path %>
</div>

<%= render "shared/footer" %>
