<% content_for :meta_title, "Web Mag – le blog de Dataweb Univers – toutes les news" %>
<% content_for :meta_description, "Découvrez le blog de Dataweb Univers. Nous partageons des ressources et astuces utiles de marketing SEO et site internet pour les développeurs et les entreprises" %>
<% content_for :meta_robots, "index" %>

<script type="application/ld+json" nonce=<%= request.content_security_policy_nonce %>>
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Accueil",
    "item": "<%= root_url %>"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Blog",
    "item": "<%= blogs_url %>"
  }]
}
</script>


<%= render "shared/navbar" %>

<div class="articles-index">
  <h1 class="h1 black">Le blog de l'agence web</h1>
  <p class="text-center mx-auto mb-5">Nous partageons des ressources et astuces utiles en marketing web, en SEO et pour les site internet à destination des marketeurs, des développeurs et des entreprises.</p>
  <h2 class="mb-4 mt-5">Les derniers articles :</h2>

  <div class="articles">
    <% if @blogs != nil %>
      <% @blogs.each do |blog| %>

        <div class="article relative mb-5">
          <%= link_to((blog), title: blog.name, class: 'flex') do %>
            <%= cl_image_tag blog.image.key, alt: blog.name, class: 'img-little-blog' %>
          <% end %>
          <%= link_to((blog), title: blog.name) do %>
            <h3 class="mt-4"><%= blog.name %></h3>
          <% end %>
          <p class="black-olive italic font-18"><%= blog.descriptionindex %></p>
          <% if policy(blog).edit? %>
            <%= link_to(edit_blog_path(blog), title: 'éditer', rel: 'nofollow') do %>
             <%= image_tag(asset_path('edit.svg'), alt: 'editer', class: 'img-edit absolute index1') %>
            <% end %>
          <% end %>
          <% if policy(blog).destroy? %>
            <%= link_to(blog, rel: 'nofollow', title: 'supprimer', method: :delete, data: { confirm: 'Vous allez supprimer cet article' }) do %>
              <%= image_tag(asset_path('bin.svg'), alt: 'supprimer', class: 'img-bin absolute index1') %>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <% if current_user.voted_up_on? blog %>
              <div class="flex flex-row mt-3">
                <%= link_to(unlike_blog_path(blog), method: :put, rel: 'nofollow', title: 'unlike', class: 'nodecoration flex bg-F5F7FB link-like flex-center') do %>
                  <%= image_tag(asset_path('like2.svg'), alt: 'unlike', class: 'img-like') %>
                  <p class="mx-2 font-18 mt-0">J'aime</p>
                  <p class="like-nbr mt-0"><%= blog.votes_for.size %></p>
                <% end %>
                <div class="social-share-button-relative m-0 p-0">
                  <%= social_share_button_tag(blog.name, rel: 'nofollow') %>
                </div>
              </div>
            <% else %>
              <div class="flex flex-row mt-3">
                <%= link_to(like_blog_path(blog), method: :put, rel: 'nofollow', title: 'like', class: 'nodecoration flex bg-F5F7FB link-like flex-center') do %>
                  <%= image_tag(asset_path('like.svg'), alt: 'like', class: 'img-like') %>
                  <p class="mx-2 font-18 mt-0">J'aime</p>
                  <p class="like-nbr mt-0"><%= blog.votes_for.size %></p>
                <% end %>
                <div class="social-share-button-relative m-0 p-0">
                  <%= social_share_button_tag(blog.name, rel: 'nofollow') %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="flex flex-row mt-3">
              <%= link_to(like_blog_path(blog), method: :put, rel: 'nofollow', title: 'like', class: 'nodecoration flex bg-F5F7FB link-like flex-center') do %>
                <%= image_tag(asset_path('like.svg'), alt: 'like', class: 'img-like') %>
                <p class="mx-2 font-18 mt-0">J'aime</p>
                <p class="like-nbr mt-0"><%= blog.votes_for.size %></p>
              <% end %>
              <div class="social-share-button-relative m-0 p-0">
                <%= social_share_button_tag(blog.name, rel: 'nofollow') %>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>
  <% if policy(Blog).create? %>
    <%= link_to 'nouvel article', new_blog_path, title: 'nouvel article', rel: 'nofollow', class: 'btn btn-outline-primary my-5' %>
  <% end %>
  <% if user_signed_in? == false %>
    <%= link_to 'Se connecter', new_user_session_path, title: 'Se connecter', rel: 'nofollow', class: 'btn btn-outline-secondary m-5' %>
  <% end %>
</div>

<%= render "shared/footer" %>