<% content_for :meta_title, "Agence marketing web Aix en provence – SEO – site internet" %>
<% content_for :meta_description, "Créez / Optimiser votre site internet, son référencement | Dataweb Univers : agence de marketing web, SEO / SEA et développement à aix en provence – Théo Dumez" %>
<% content_for :meta_robots, "noindex" %>

<%= render "shared/navbar" %>
<div class="flex-center">
  <div class="w50-1 flex-center flex-column">
    <div class="contact-text relative">
      <h1 class="h1 black-olive"><%= t(".sign_in") %></h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions mb-5">
          <%= f.button :submit, t(".sign_in"), class: "btn btn-outline-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
  <%= image_tag(asset_path('mobile_development.svg'), alt: 'se connecter', class: 'img-contact-form') %>
</div>

<%= render "shared/footer" %>