<div class="banner relative index1">
    <%= render "shared/banner-text" %>
    <div class="flex-center index1 img-banner-section">
    	<%= image_tag(asset_path('digital-marketing-illustration.png'), alt: 'icone meeting', class: 'img-banner') %>
    </div>
    <%= image_tag(asset_path('Vector-4.png'), alt: 'vector-background', class: 'background-vector-img index0') %>
    <%= image_tag(asset_path('rocket-ellipse.png'), alt: 'vector-background', class: 'rocket-ellipse-img index0') %>
    <%= image_tag(asset_path('Ellipse-8.png'), alt: 'vector-background', class: 'ellipse8-img index0') %>
</div>