<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
        	<div class="slide-banner">
                <%= render "shared/banner-text", myclass: false %>
				<%= image_tag(asset_path('bulb.png'), class: 'img-banner', alt: 'bulb illustration') %>
			</div>
        </div>
        <div class="swiper-slide">
			<div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: true %>
				<%= image_tag(asset_path('story.png'), class: 'img-banner', alt: 'story illustration') %>
			</div>
        </div>
        <div class="swiper-slide">
            <div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: true %>
                <%= image_tag(asset_path('flex-man.png'), class: 'img-banner', alt: 'flex-man illustration') %>
            </div>
        </div>
        <div class="swiper-slide">
			<div class="slide-banner">
                <%= render partial:"shared/banner-text", myclass: true %>
				<%= image_tag(asset_path('desordre.png'), class: 'img-banner', alt: 'desordre illustration') %>
			</div>
        </div>
    </div>
</div>