<div class="banner relative index1">
    <%= render "shared/banner-text" %>
    <div class="flex-center index1 img-banner-section">
    	<%= image_tag(asset_path('digital-marketing-illustration.png'), alt: 'communication web illustration', class: 'img-banner') %>
    </div>
    <%= image_tag(asset_path('Vector-4.png'), alt: 'création de sites internet', class: 'background-vector-img index0') %>
    <%= image_tag(asset_path('rocket-ellipse.png'), alt: 'référencement seo', class: 'rocket-ellipse-img index0') %>
    <%= image_tag(asset_path('Ellipse-8.png'), alt: 'Campagnes publicitaires', class: 'ellipse8-img index0') %>
    <%= image_tag(asset_path('blue-cercle.svg'), alt: 'Agence web emarketing', class: 'cercle-banner1 index1 bleu-cercle-banner') %>
    <%= image_tag(asset_path('blue-cercle.svg'), alt: 'Agence web Aix en provence', class: 'cercle-banner2 index1 bleu-cercle-banner') %>
    <%= image_tag(asset_path('blue-cercle.svg'), alt: 'Agence e-marketing digital ', class: 'cercle-banner3 index1 bleu-cercle-banner') %>
</div>