<div class="swiper-container mt-5">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><%= image_tag(asset_path('logo-ophtalmo-miramas.png'), alt: 'client site internet et référencement agence marketing web aix-en-Provence ophtalmo-miramas', class: 'logo-confiance') %></div>
    <div class="swiper-slide"><%= image_tag(asset_path('logo-renovbardage-png.jpg'), alt: 'client site internet et référencement agence marketing web aix-en-Provence renov-bardage', class: 'logo-confiance') %></div>
    <div class="swiper-slide"><%= image_tag(asset_path('logo-francecbd.png'), alt: 'client site internet et référencement agence marketing web aix-en-Provenceophtalmo-miramas', class: 'logo-confiance') %></div>
    <div class="swiper-slide"><%= image_tag(asset_path('logo-coiffure.png'), alt: 'client site internet et référencement agence marketing web aix-en-Provence ophtalmo-miramas', class: 'logo-confiance') %></div>
    <div class="swiper-slide"><%= image_tag(asset_path('logo-imall-industrie.png'), alt: 'client site internet et référencement agence marketing web aix-en-Provence ophtalmo-miramas', class: 'logo-confiance') %></div>
    <div class="swiper-slide"><%= image_tag(asset_path('logo-bailti.png'), alt: 'client site internet et référencement agence marketing web aix-en-Provence ophtalmo-miramas', class: 'logo-confiance') %></div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>