<% if user_signed_in? %>
	<div class="admin-bar">
		<p class="mx-4">Bienvenue <%= "#{current_user.nom}" %></p>
		<p class="mx-4">-</p>
		<p><%= link_to "Se déconnecter", destroy_user_session_path, class: 'mx-4', method: :delete, data: { confirm: 'Vous allez vous déconnecter' } %></p>
	</div>
<% end %>
<div class='navbar'>
	<div class="flex-center">
		<div class='logo'>
			<%= link_to((root_path), title: "Accueil") do %>
				<%= image_tag(asset_path('Growth-marketing.png'), alt: 'agence marketing web Aix en provence Dataweb Univers logo', class: 'img_navbar mr-3') %>
			<% end %>
		</div>
		<%= link_to((root_path), title: "Accueil", class: 'nodecoration') do %>
			<p class="ml-5"><span class="black-olive">Data</span><span class="teel">Web</span> <span class="blue">Univers</span></p>
		<% end %>
	</div>
	<div class='nav-links navbar-expand-lg'>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <%= image_tag(asset_path('menu.svg'), alt: 'agence marketing web Aix en provence Dataweb Univers menu', class: 'navbar-toggler-icon') %>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<%= link_to((blogs_path), title: "Blog", class: 'nodecoration referencement-link') do %>
						<p class="mx-4 taupe blog-link referencement-link">Blog</p>
					<% end %>
				</li>
				<li>
					<%= link_to((contacts_path), title: "Contactez-nous", rel: "nofollow contact-mail") do %>
						<p class="mx-4 teel mail">Contactez-nous</p>
					<% end %>
				</li>
				<li class="nav-item active">
					<div class="dropdown">
						<%= link_to((root_path), title: "Nos-services", class: 'nodecoration dropdown-toggle mx-4 flex-center service-down', href: "#", "role": "button", id: "dropdownMenuLink", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false") do %>
							<p class="taupe service-text service-down">Nos services</p>
						<% end %>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<%= link_to((referencement_path), title: "Référencement (SEO/SEA)", class: 'dropdown-item') do %>
								<p class="taupe service-text referencement-link">Référencement</p>
							<% end %>
							<%= link_to((creation_site_internet_path), title: "Création de site internet", class: 'dropdown-item') do %>
								<p class="taupe service-text creation-link">Création de site internet</p>
							<% end %>
						</div>
					</div>
				</li>
				<li class="nav-item active">
					<p class="mx-4 blue telephone">Théo Dumez</p>
				</li>
			</ul>
		</div>
	</div>
</div>