<%= render "shared/navbar" %>
<%= render "shared/banner" %>

<div class="nos-leviers flex-center flex-column">
	<div class="leviers flex-center flex-row mt-4 index1">
		<%= image_tag(asset_path('fond1.png'),alt: 'fond design', class: 'fond-levier1') %>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('computer.svg'), alt: 'computer icon', class: 'card_img') %>
			</div>
			<p>Création de site web</p>
		</div>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('search.svg'), alt: 'search icon', class: 'card_img') %>
			</div>
			<p>Référencement (SEO/SEA)</p>
		</div>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('analytics.svg'), alt: 'analytics icon', class: 'card_img') %>
			</div>
			<p>Expérience Utilisateur (UX)</p>
		</div>
		<%= image_tag(asset_path('fond3.png'),alt: 'fond design', class: 'fond-levier3') %>
	</div>
</div>

<div class="agence flex-center flex-row">
	<div class="agence-img background-img w40-h483"></div>
	<div class="flex-center w50-h483">
		<div class="agence-text">
			<h2 class="black my-5 h2 rb-110">DataWeb univers est une société de marketing internet et de référencement</h2>
			<p class="black my-5 h2 rb-55">
				Notre entreprise est fière de générer du trafic sur votre site et de convertir les visiteurs en clients.
			</p>
			<p class="black my-5 h2">
				Contactez-nous dès aujourd'hui pour nous exposer votre projet.
			</p>
			<div class="floating-M">TD</div>
		</div>
	</div>
</div>

<div class="presentation bg-khaki flex-center flex-column">
	<div class="h1-container">
		<h1 class="h1 black m-0">
			Agence marketing web Aix-en-provence
		</h1>
	</div>
	<div class="cent80 flex-around mb-3">
		<p class="self-start ml-4 mt-4 black">
			Dans le digital, la stratégie marketing est essentielle. C’est le fondement de votre réussite.<br>
			Elle permet aux clients de se sentir confiants et compris. Nous créons des expériences qui attirent, engagent et convertissent.<br>
		</p>
		<%= image_tag(asset_path('growth.svg'), alt: 'icone croissance', class: 'growth-icon') %>
	</div>
</div>

