<%= render "shared/navbar" %>
<%= render "shared/banner" %>

<div class="nos-leviers flex-center flex-column">
	<div class="leviers flex-center flex-row mt-4 index1">
		<%= image_tag(asset_path('fond1.png'),alt: 'fond design', class: 'fond-levier1') %>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('computer.svg'), alt: 'computer icon', class: 'card_img') %>
			</div>
			<p>Création de site web</p>
		</div>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('search.svg'), alt: 'search icon', class: 'card_img') %>
			</div>
			<p>Référencement (SEO/SEA)</p>
		</div>
		<div class="levier flex-center flex-column">
			<div class="cercle">
				<%= image_tag(asset_path('analytics.svg'), alt: 'analytics icon', class: 'card_img') %>
			</div>
			<p>Expérience Utilisateur (UX)</p>
		</div>
		<%= image_tag(asset_path('fond3.png'), alt: 'fond design', class: 'fond-levier3') %>
	</div>
</div>

<div class="agence flex-center flex-row">
	<div class="agence-img background-img w40-h483"></div>
	<div class="flex-center w50-h483">
		<div class="agence-text index1">
			<h2 class="black my-5 h2 rb-110">DataWeb univers est une société de marketing digital et de référencement</h2>
			<p class="black my-5 h2 rb-55">
				Notre entreprise est fière de générer du trafic sur votre site et de convertir vos visiteurs en clients.
			</p>
			<p class="black my-5 h2">
				Contactez-nous dès aujourd'hui et nous seront ravis d'étudier votre projet.
			</p>
		</div>
		<%= image_tag(asset_path('Ellipse.png'), alt: 'fond design', class: 'floating-M index0') %>
	</div>
</div>

<div class="referencement flex-center flex-column background-img relative">
	<div class="flex-start flex-row mt-4 flex-around index1">
		<%= image_tag(asset_path('referencement.png'), alt: 'referencement icone', class: 'img-referencement mx-5 img-SEO') %>
		<div class="flex flex-column">
			<h2 class="mb-5 h1 text-left ml-5 black">
				Référencement Naturel et Payant<br>
				ou SEO (Search Engine Optimization) / SEA (Advertising)
			</h2>
			<div class="referencement-text flex-center flex-row flex-around">
				<div class="referencement-column mx-5 text-center">
					<h3 class="h3">Référencement</h3>
					<p class="taupe">Optimiser la position votre site et emmenez-le en première page Google</p>
				</div>
				<div class="referencement-column mx-5 text-center">
					<h3 class="h3">Rédaction web</h3>
					<p class="taupe">L’agence met à votre service sa maitrise des mots-clés et de la sémantique</p>
				</div>
				<div class="referencement-column mx-5 text-center">
					<h3 class="h3">Pénalités Google</h3>
					<p class="taupe">Votre site a subit des penalités Google ? Nous pouvons vous aider</p>
				</div>
			</div>
		</div>
	</div>
	<%= image_tag(asset_path('background-curve.svg'), alt: 'fond curve', class: 'absolute t-14 w100 index0') %>
</div>
<%= render "shared/footer" %>